@model WebApplication1.Models.NouveauSondageModel


@*idem que formulaire choixmultiple sauf que le choix (unique) s'effectue par bouton radio le renvoi est le même
	il est certain qu'une seule vue était possible...*@
<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Titre de la page</title>
	<link rel="stylesheet" href="~/Content/style.css">
	<script src="script.js"></script>
	<link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
	<div id="tete">
		<br />
		<br />
		<div class="droite">
			<form method="GET" action="#" id="q">
				<input type="text" name="q" value="Rechercher..." onFocus="if(this.value=='Rechercher...')this.value='';" onBlur="if(this.value=='Rechercher...')this.value='Rechercher...')" />				<input type="submit" value="" />
				<a>&nbsp;</a><a>   |   </a><a>&nbsp;</a>
				<a href="index.html"><img alt="Accueil" src="~/Content/home.jpg" /></a>
				<a href="#">S'identifier</a><a>&nbsp;</a><a href="#">S'enregistrer</a>
			</form>
		</div>
		<br>

		<div class="menu">
			<br />
		</div>
	</div>

	<div id="conteneurIndex">
		<div class="center">



			<form action="~/Accueil/ReceptionVote" method="post">
				<div>


					<h2>@Model.Titre</h2>
				</div>
				<br />
				<div>
					<h3>@Model.Description</h3>
				</div>
				<br />
				<br />
				<br />
				<br />
				<input id="prodId" name="prodId" type="hidden" value=@Model.Cle>
				<div class="gauche">
					@{

						foreach (var item in Model.ListeReponses)
						{
							<div class="gauche">
								<input type="radio" name="reponse" value=@item>
								<label for="reponse1"> @item</label>
							</div>
							<br />

						}
					}


					<div class="droite">

						<<input type="submit" class="btn btn-primary btn-sx" value="Publier le vote" />

					</div>
				</div>
			</form>
		</div>


		<div id="pied">
			<div class="center">
				<a href="#">Accueil</a><a>&nbsp;</a><a> | </a>
				<a href="#">Confidentialité et cookies</a><a> | </a>
				<a href="#">Conditions générales</a><a>&nbsp;</a><a> | </a>
				<a href="#">Contact</a><a>&nbsp;</a> | </a>
				<a class="droite"><a href="#"> © 2018 - Geandos ADAI 2017 / 2018 CCI Colmar </a></a>

			</div>

		</div>
	</div>
</body>
</html>