@model WebApplication1.Models.Sondage
@{
	Layout = null;
}



<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Titre de la page</title>
	<link rel="stylesheet" href="style.css">
	<script src="script.js"></script>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div id="tete">
		<br />
		<br />
		<div class="droite">
			@*<form action="#" id="q"/>*@
			<input type="text" name="q" value="Rechercher..." />
			<a>&nbsp;</a><a>   |   </a><a>&nbsp;</a>
			<a href="index.html"><img alt="Accueil" src="Theme/home.jpg" /></a>
			<a href="#">S'identifier</a><a>&nbsp;</a><a href="#">S'enregistrer</a>

		</div>
		<br>

		<div class="menu">
			<br />
		</div>
	</div>

	<div id="conteneurIndex">
		<div class="center">

			<h1>Votre sondage est désormais en ligne</h1>
			<br />
			<br />

			<form action="page3.html">
				<div>
					<div>
						<label for="lienSondage">Lien du sondage </label>
						<input id="add1" type="text" value="@Sondage.Lien_vote"/>
					</div>
					<br />
					<br />
					<div>
						<label for="lienResultats">Lien des résultats </label>
						<input id="add1" type="text" value="@Model.Lien_resultats" />
					</div>
					<br />
					<br />
					<h1 class="rouge">ATTENTION : La suppression du sondage est définitive</h1>
					<br />
					<br />
					<h2>Seule la consultation des résultats reste alors possible</h2>
					<br />
					<br />
					<div>
						<label for="lienSupression">Lien de suppression </label>
						<input id="add1" type="text" value="@liens" />
					</div>
					<br />

				</div>
			</form>
		</div>


		<div id="pied">
			<div class="center">
				<a href="#">Accueil</a><a>&nbsp;</a><a> | </a>
				<a href="#">Confidentialité et cookies</a><a> | </a>
				<a href="#">Conditions générales</a><a>&nbsp;</a><a> | </a>
				<a href="#">Contact</a><a>&nbsp;</a> | </a>
				<a class="droite"><a href="#"> © 2018 - Geandos ADAI 2017 / 2018 CCI Colmar </a></a>

			</div>

		</div>
	</div>
</body>
</html>